@import '../../lib/colors.module';

.post-card {
    padding: 25px;
    background-color: #121A27;
    cursor: pointer;
    transition: filter 100ms linear;
}


.post-card:hover {
    filter: brightness(1.1);
}


.post-title {
    font-size: 1.1rem;
    font-weight: 500;
    color: #F1F1F1;
    margin-bottom: 8px;
}


.post-publish-date {
    font-size: .8rem;
    color: #CACACA;
    margin-bottom: 24px;
}


.post-description {
    font-size: .8rem;
    color: #DEDEDE;
    font-weight: 500;
}
