#create-post-btn {
    padding: 16px 32px;
    background-color: #def25a94;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    color: #fafafa;
    text-align: center;
}

#create-post-btn:hover {
    filter: brightness(1.1);
}


#new-post-wrapper {
    padding: 50px 0;
    display: grid;
    grid-template-columns: 80% 20%;
}


.input-title {
    margin-bottom: 10px;
    font-weight: bold;
    color: #fafafa;
}



#left-side-inputs {
    display: flex;
    flex-direction: column;
    row-gap: 64px;
}



#post-title {
    display: block;
    width: 100%;
    font-size: 25px;
    height: 75px;
    padding: 30px 25px;
    background-color: #1A1A1A;
    border: none;
    color: #F5F5F5;
    border-radius: 2px;
    font-weight: 200;
}


#post-description {
    display: block;
    width: 100%;
    max-width: 100%;
    font-size: 15px;
    min-height: 300px;
    height: auto;
    padding: 20px 25px;
    background-color: #1a1a1a61;
    border: none;
    color: #F5F5F5;
    border-radius: 5px;
    font-weight: 200;
    line-height: 200%;
}


#post-content {
    display: block;
    width: 100%;
    max-width: 100%;
    font-size: 15px;
    min-height: 300px;
    padding: 20px 25px;
    background-color: #1a1a1a61;
    border: none;
    color: #F5F5F5;
    border-radius: 5px;
    font-weight: 200;
    line-height: 200%;
}



#post-title,
#post-description,
#post-content {
    min-width: 100%;
}


#post-title:focus,
#post-description:focus,
#post-content:focus {
    outline: none;
    filter: brightness(1.2);
}



#right-side-quick-options {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}


.quick-action-icon-btn {
    color: #fafafa;
    font-size: 30px;
}


#delete-quick-action-btn {
    color: #b0073f;
}

#delete-quick-action-btn:hover {
    filter: brightness(1.2);
}
