@import '../lib/_colors.module.scss';

#home-title {
    color: $light-text;
    text-align: center;
    padding-top: 25px;
    font-weight: 500;
    margin-bottom: 25px;
}

.login-error-msg-wrapper {
    // cite TopGun / @JakeBartoletta
    
    background-color: rgba(0, 0, 0, 0.473);
    border: rgba(255, 0, 102, 0.388) 2px solid;
    text-align: center;
    width: 50%;
    margin: auto;
    margin-top: 25px;
    color: $light-text;
    padding: 15px;

    p {
        font-weight: bold;
        font-size: 12px;
        color: rgb(255, 0, 102);
    }
}
