@import '../lib/_colors.module.scss';


#title {
    color: $light-text;
    text-align: center;
    padding-top: 25px;
    font-weight: 500;
    margin-bottom: 24px;
}


#description {
    color: #c2c2c2;
    width: 50%;
    margin: auto;
    font-size: 15px;
    line-height: 200%;
    letter-spacing: 0.5px;
    text-align: center;
}


@media screen and (max-width: 800px) {

    #description {
        width: 100%;
    }

}


.btn {
    border-radius: 4px;
    cursor: pointer;
    width: 100%;


    .btn-link {
        width: 100%;
        height: 100%;
        padding: 16px 48px;
        display: inline-block;
        text-decoration: none;
        text-align: center;
        white-space: nowrap;
        font-weight: bold;
        color: #cccccc;
    }
}


.btn:hover {
    filter: brightness(1.1);
}


#btns-wrapper {
    width: 50%;
    margin: auto;
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}


#explore-btn {
    background-color: #383838;
    margin-bottom: 32px;
}


#signup-btn {
    background-color: #00524a;
}

#signin-btn {
    margin-left: auto;
    background-color: #00524a;
}




@media screen and (max-width: 600px) {

    #btns-wrapper {
        width: 100%;
    }

}

