* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #132034;
  overflow-x: hidden;
}


h1, h2, h3, h4, h5, h6, p {
  font-weight: normal;
  margin: 0;
}


main {
  padding: 0 25px;
  height: 100vh;
}
